[submodule "xmz-server"]
	path = xmz-server
	url = https://github.com/Kliemann-Service-GmbH/xmz-server.git
[submodule "xmz-doc-development"]
	path = xmz-doc-development
	url = https://github.com/Kliemann-Service-GmbH/xmz-doc-development.git
[submodule "xmz-doc"]
	path = xmz-doc
	url = https://github.com/Kliemann-Service-GmbH/xmz-doc.git
[submodule "meta-xmz-mod-touch"]
	path = meta-xmz-mod-touch
	url = https://github.com/zzeroo/meta-xmz-mod-touch.git
[submodule "xmz-gui"]
	path = xmz-gui
	url = https://github.com/Kliemann-Service-GmbH/xmz-gui.git
[submodule "xmz-buildsystem"]
	path = xmz-buildsystem
	url = https://github.com/Kliemann-Service-GmbH/xmz-buildsystem.git
[submodule "xmz-test-tool"]
	path = xmz-test-tool
	url = https://github.com/Kliemann-Service-GmbH/xmz-test-tool.git
